doctype 5
html(lang="hu")
  head
    meta(charset='utf8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/libs/lightbox/css/lightbox.css')
    script(type='text/javascript', src='/javascripts/libs/jquery-1.10.2.min.js')
    script(type='text/javascript', src='/javascripts/libs/lightbox/lightbox-2.6.min.js')
    script(type='text/javascript', src='/javascripts/picture.js')
    script(type='text/javascript', src='/javascripts/main.js')
  body
    include header
    block content